<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet"
    href="{{url_for('static', filename='style.css')}}"
    />
</head>
<body>
    <h1>Book a service</h1>
    <form action="/book" method="post">
        <label for="name"> Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="service">service:</label>
        <select id="service" name="service" required>
            <option value="service 1">service 1</option>
            <option value="service 2">service 2</option>
            <option value="service 3">service 3</option>

        </select>
       
        <button type="submit">Book</button>
        </form>

</body>
</html>